.container {
    max-width: 800px;
    border: 1px solid grey;
    height: 200px;
    /* padding: 75px 460px; */
    margin: 200px auto;
    position:relative;
}
.img{
    position:absolute;
    top:20px;
    left:50px;
    border: 3px solid #95e1d3;
    padding: 45px;
}
.content{
    position:absolute;
    top:2px;
    right:50px;
    width: 499px;
}
.content p{
     font-family: "Roboto", sans-serif;
     font-size: 24px;
     font-weight: 300;
     font-style: italic;
     color: #999;
}
/* .line{
    height: 3px;
    width: 30px;
    background-color: #f38181;
    position: absolute;
    bottom: 4px;
    left:0;
}*/
.author{
    /* display: inline-block; */
    /* position: absolute; */
    bottom:-11px;
    left:35px;
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    color: #333;
}
.author:before{
    content:"";
    display:inline-block;
    height: 3px;
    width: 30px;
    background-color: #f38181 ;
}